<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <connectionStrings>
      <add name="tldr-profile1" connectionString="AuthType=ClientSecret;ClientId=00000000-0000-0000-0000-000000000000;ClientSecret=zzzzzzzzzzzzzzzzzzzzz;URL=https://tldrdynamics.crm.dynamics.com/;" />
      <add name="tldr-profile2" connectionString="AuthType=Office365;Username=ty@tldrdynamics.com; Password=12345678; URL=https://tldrdynamics.crm.dynamics.com;" />
    </connectionStrings>
</configuration>